---
---
<div class="w-screen relative left-[50%] right-[50%] mx-[-50vw] overflow-hidden bg-dali-terracotta/15 border-y border-dali-dark/5 py-5 my-6 select-none z-20">
  <div class="animate-marquee gap-12 whitespace-nowrap font-display font-medium text-lg uppercase tracking-widest text-dali-dark/60">
    <span>DALI DEV • CÓDIGO PURO • DISEÑO ESTÉTICO • DISEÑO WEB SIN PLANTILLAS • ACCESIBILIDAD 100% • </span>
    <span>DALI DEV • CÓDIGO PURO • DISEÑO ESTÉTICO • DISEÑO WEB SIN PLANTILLAS • ACCESIBILIDAD 100% • </span>
  </div>
</div>